{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %} 

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PriorityU</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li {% if request.endpoint == 'dashboard' %} class="active" {% endif %}> <a href="{{url_for('dashboard')}}">Overview</a></li>
              <li {% if request.endpoint == 'courses' %} class="active" {% endif %}><a href="{{url_for('courses')}}" id="tab2-id">Courses</a></li>
              <li {% if request.endpoint == 'exams' %} class="active" {% endif %}><a href="{{url_for('exams')}}">Upcoming Exams</a></li>
              <li {% if request.endpoint == 'assignments' %} class="active" {% endif %}><a href="{{url_for('assignments')}}">Upcoming Assignments</a></li>
              <li {% if request.endpoint == 'completed' %} class="active" {% endif %} ><a href="{{url_for('completed')}}">Completed Assignments</a></li>
          </ul>
        </div>

       {% if add_state and form %}
       <div class="col-sm-4 col-md-offset-2 main">
         <form class="form-signin" method="POST"> 
            <h2 class="form-signin-heading">Add Course</h2>

            {{ form.hidden_tag() }} 
            {{ wtf.form_field(form.code) }} 
            {{ wtf.form_field(form.title) }} 
            {{ wtf.form_field(form.lecturer) }} 
            {{ wtf.form_field(form.location) }} 
            <button class="btn btn-sm btn-primary" type="submit">Create</button> 
            <a href="{{ url_for('courses') }}">Cancel</a>
         </form>

       <div class="col-sm-4 col-md-offset-2 main">
       {% else %}
       <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Courses</h1>
          <table class="table table-striped table-hover">

            <thead class="thead-dark">
                <tr>
                    <th>Code</th><th>Name</th><th>Lecturer</th><th>Location</th><th></th>
                </tr>
            </thead>
            <tbody>
                {% for c in courses %}
                <tr>
                    <td>{{c.course_code}}</td>
                    <td>{{c.course_name}}</td>
                    <td>{{c.lecturer}}</td>
                    <td>{{c.location}}</td>
                    <td>
                      <a href='#' class="btn btn-secondary btn-sm">Update</a>
                    </td>
                    <td>
                      <a href='/dashboard/assignments/{{c.c_id}}' class="btn btn-secondary btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
          <!--Dominic Smart 18/11 - End of code for printing courses-->
       <h4><a href="{{ url_for('addCourse') }}" class="btn btn-primary btn-sm">Add New Course</a></h4>
      </div>
      {% endif %}
      </div>
    </div>
      </div>
{% endblock %}