{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please Sign In</h2>

        {{ form.hidden_tag()}}
        {{wtf.form_field(form.username) }}
        {{wtf.form_field(form.password)}}
        {{wtf.form_field(form.remember)}}
        <button class="btn btn-lg btn-primary btn-block bt" type="submit">Sign in</button>
        <a href='/signup'>Don't have an account?</a>
      </form>

    </div> <!-- /container -->

{% endblock %}